<!-- Contextual Insights -->
    <section id="contextual_insights">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contextual Insights</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="img/map.png" class="img-responsive center-block" alt="" style="height:300px;">
                </div>
                <div class="col-md-8">
                    <img src="img/words.png" class="img-responsive center-block" alt="" style="height:300px;" >
                </div>
                <div class="container text-left">	     
                	<h4>Contextual Insights</h4>           
	                <p>In todays digital advertising climate, the relevance of your message is more important than ever.<br>
                    ReadyGraph knows users better than any other media on the planet. Our users share information with us that helps us enhance their experiences by delivering highly relevant messages to their inboxes every day. ReadyGraph users welcome our information because we pride ourselves on providing content that our users actually want to see. For advertisers this means that your message will always be in front of the right consumer. No one gets closer to the center of the bulls-eye than ReadyGraph. Don't believe us? Schedule a test campaign to see how powerful our context based native advertising solutions can be.</p>
                </div>
                <br>
                <a href="#anydevice" class="page-scroll"><img src="img/down.png" width="10%"></img></a>
            </div>
        </div>
    </section>
<hr>