<!-- digital media forever -->
    <section id="dmf">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"></h2>                    
                </div>
            </div>-->
            <div class="row text-center">
                <div class="col-md-6">
                    <!--<span class="fa-stack fa-4x">
                        <img src="img/icon1.png"></img>
                    </span>-->
                    <h3 class="service-heading text-left">Digital Media Forever</h4>
                    <p class="text-muted text-left">Just like a newspaper, an advertisement placed through ReadyGraph's native email advertising platform stays with consumers forever. Maybe they don't have a need for your product right now but plan on revisiting in the future to take advantage of your personalized and relevant offer. ReadyGraph offers some of the most demanded media in the world, and often times just because something isn't right now, doesn't mean it isn't right.<br><br> 
                    ReadyGraph tracks opens, clicks, and has a host of custom analytic options depending on what business objectives advertisers want to accomplish.<br></p>
                    <a href="#contact" class="page-scroll btn btn-xl">Request a Demo</a>
                    <h4><br>Contact Sales: 646-397-5615</h4>
                </div>
                <div class="col-md-6">
                        <img src="img/sample.png" style="height:450px;"></img>
                </div>
                <div class="col-lg-12 text-center">
                    <br><br>
                    <a href="#contact" class="page-scroll"><img src="img/down.png" width="10%"></img></a>
                </div>
            </div>
        </div>
    </section>
    