<!-- Services Section -->
<div class="col-lg-12 text-center">
<br>
<a href="#services" class="page-scroll"><img src="img/down.png" width="10%"></img></a>
</div>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cross Promotion Services by ReadyGraph</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/icon1.png"></img>
                    </span>
                    <h4 class="service-heading">Contextual Insights</h4>
                    <p class="text-muted">ReadyGraph delivers curated stories based on user preferences from every topic imaginable. Our users count on us to deliver them relevant and important news that matters in their lives. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/icon2.png"></img>
                    </span>
                    <h4 class="service-heading">Requested Media</h4>
                    <p class="text-muted">ReadyGraph curates and delivers over 4,000,000 daily and weekly email digests per month. Partnering with over 30,000 websites, ReadyGraph delivers requested media on consumer’s terms.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="img/icon3.png"></img>
                    </span>
                    <h4 class="service-heading">Relevant Content</h4>
                    <p class="text-muted">ReadyGraph seamlessly integrates sponsored messages into relevant newsletters. Our average article sees a click-through-rate of over 19%. That is the power of requested media, That is the power of ReadyGraph.</p>
                </div>
                <div class="row">
                    <h5><br>See the Awesome Power of ReadyGraph's Proprietary Advertising Technology</h5> 
                </div>
                <div class="container">
	                <a href="#contact" class="page-scroll btn btn-xl">Request a Demo</a>
                </div>
                <br><br><br>
                <a href="#contextual_insights" class="page-scroll"><img src="img/down.png" width="10%"></img></a>  
            </div>
        </div>
    </section>
<hr>